<footer>
	{% if site.your_name %}
	<p class="footerText">Made by {% if site.your_link %}<a href="{{ site.your_link }}">{% endif %}{{ site.your_name }}{% if site.your_link %}</a>{% endif %}{% if site.your_city %} in {{ site.your_city }}{% endif %}</p>
	{% endif %}
	<div class="footerLinks">
		{% assign current_lang = page.lang | default: site.default_lang %}
		{% if current_lang == "en" %}
			{% assign app_name_display = site.app_name_en %}
		{% else %}
			{% assign app_name_display = site.app_name %}
		{% endif %}
		<span>&copy;2026 {{ app_name_display }}</span>
		{% if current_lang != "en" %}
			<span>·</span>
			<a href="https://beian.miit.gov.cn/" target="_blank">京ICP备2026002961</a>
		{% endif %}
		<span>·</span>
		{% if current_lang == "en" %}
			{% for page_item in site.pages %}
				{% if page_item.permalink contains "termsofservice" and page_item.lang == current_lang %}
					<a href="{{ page_item.url | relative_url }}" target="_self">{{ page_item.title }}</a>
				{% endif %}
			{% endfor %}
		{% else %}
			{% for page_item in site.pages %}
				{% if page_item.permalink contains "privacypolicy" and page_item.lang == current_lang %}
					<a href="{{ page_item.url | relative_url }}" target="_self">{{ page_item.title }}</a>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
</footer>